body {
  background: url(../img/fondo-2.jpg)
  no-repeat fixed center;
  font-family: 'Montserrat', sans-serif;
}

.bodybox {
  background-color: #424242;
  height: 12rem;
}

.container{

}

.logo {
  margin-top: 1rem;
}

.menu {
  margin-top: 4rem;
}

.slogan {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Gaegu', cursive;
  margin-top: 4rem;
}
